@font-face {
  font-family: "norse-bold";
  src: url("./fonts/Norse-Bold.otf");
}

@font-face {
  font-family: "inter";
  src: url("./fonts/inter.woff2");
}

:root {
  --primary-clr: #ecf4f9;
  --secondary-clr: #006099;
  --accent-clr: #be4700;
  --text-clr: #ffffff;
}

html, body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  background-color: var(--primary-clr);
}

header {
  padding: 8px;
}

header, footer {
  background-color: var(--secondary-clr);
  color: var(--text-clr);
}

h1 {
  display: flex;
  justify-content: center;
  gap: 4px;
  font-family: "norse-bold";
}

.content {
  display: flex;
  justify-content: center;
}

.frame {
  display: flex;
  justify-content: center;
  position: relative;
  border: 10px solid var(--secondary-clr);
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

.slides > img {
  border-radius: 5px;
  transform-origin: left;
  animation: slide .7s ease-out;
}

.slides > .slide-backward {
  transform-origin: right;
}

@keyframes slide {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.hide {
  display: none;
}

.prev-btn,
.next-btn {
  position: absolute;
  z-index: 2;
  align-self: center;
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

button {
  border: none;
  border-radius: 0 3px 3px 0;
  background-color: var(--accent-clr);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  line-height: 0;
}

.next-btn {
  border-radius: 3px 0 0 3px;

}

button:hover {
  opacity: .9;
  cursor: pointer;
}

.circles {
  position: absolute;
  bottom: 20px;
  display: flex;
  gap: 5px;
}

.circle {
  padding: 5px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.circle.filled {
  border: 1px solid var(--accent-clr);
  background-color: var(--accent-clr);
}

footer {
  padding: 6px;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: 0.8125rem;
  font-family: 'inter';
}

@media (min-width: 767px) {
  .slides > img {
    width: 400px;
    height: 400px;
  }
}